@charset "utf-8";
/* CSS Document */

/* Reseteo al formato html por defecto de los navegadores */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
	padding: 0;
 	margin: 0;
 	font-size: 100%;
 	font-weight: normal;
}
body, aside {
    font-family: "Open Sans",sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.25em;
    color: #2d3e50;
    background: #fff;
    -webkit-font-smoothing: antialiased;
}

table {border-collapse: collapse; border-spacing: 0; }

td, th, caption { font-weight: normal; text-align: left; }
img, fieldset { border: 0; }
ol { padding-left: 0em; list-style: decimal; }
ul { padding-left: 0em; list-style:square; }
q:before, q:after { content:''; }
/* ************************************************************************************************************* */

*{
	font-family: verdana, sans-serif;
	font-size: 12 em;
}

/********** HEADER **********************************************/
header{
	background: #2d3f50;
    padding: 1% 5% 5% 5%;
    margin: auto;
}

header div{
	float: left;
	text-align: center;
	padding: 1% 1%;
}

#headerDivTitulo{
	width: 73%;
}

#headerDivLogin{
    background-color: #a04747;
    width: 10.5%;
}

#headerDivSignUp{
	background-color: #b54b5a;
    width: 10.5%;
    clear: right;
}

header div h1{
    font-size: 1.5em;
    font-weight: bold;
    font-variant: small-caps;
    font-family: serif;
    color: #ffffff;
}

/********** NAV *************************************************/
nav{
    padding: 1% 5% 5% 5%;
    background: -webkit-linear-gradient(#ffffff, #c3c0c0);
    background: -o-linear-gradient(#ffffff, #c3c0c0);
    background: -moz-linear-gradient(#ffffff, #c3c0c0);
    background: linear-gradient(#ffffff, #c3c0c0);
}

nav div{
	float: left;
	text-align: center;
	padding: 1% 1%;
}
img {
	max-width: 100%;
	height: auto;
	width: auto/9;
}
#facebook, #twitter{
    float: right;
    width: 4%;
}

#inicio{
	background-color: rgba(0, 0, 0, 0.48);
	width: 20%;
}

#redesSociales{
	width: 54%;
}

#informacionUsuario{
	width: 3%;
}

/********** ASIDE ***********************************************/

aside{
	width: 18%;
	text-align: center;
	padding: 1% 1%;
	height: 500px;
}

#asideIzquierdo{
	float: left;
}

#asideDerecho{
	float: right;
}

/********** SECTION *********************************************/
section{
    width: 58%;
    margin: auto;
    padding: 1% 1%;
    height: auto;
    text-align: justify;
}
section h2, aside h2 {
    font-family: "Open Sans",sans-serif;
    font-weight: 700;
    font-style: normal;
    margin: 13.5px 0;
    letter-spacing: -2px;
    color: #2d3e50;
    font-size: 30px;
    line-height: 1.1em;
}
section article h2 {
        font-family: "Open Sans",sans-serif;
    font-weight: 700;
    color: #2d3e50;
    font-size: 20px;
    line-height: 1.1em;
}

#tituloContenido{
	text-align: center;
	padding-bottom: 5%
}

#imagenArticulo{
	text-align: center;
	float: right;
	background-color: red;
}

#contenido{
	text-align: left;	
	background-color: yellow;
}
article{
	margin: 5px;
	padding: 10px;
	background-color: white;
}
/********* FOOTER ***********************************************/
footer{
	background-color:  black;
	color : white;
	padding: 1% 5% 1% 5%;
}












