/***********************************************************************************/
/*CSS DE SECTION EN QUE HACMEMOS ?**************************************************/
/***********************************************************************************

/***********************************************************************************/
/*ANCHO 10px EN ADELANTE************************************************************/
/***********************************************************************************/
@media all and (min-width: 10px){
	.sectionQueHacemos article{
		width: 70%;
		margin-left: 5%;
		background-color: #BDBDBD;
	}

	.sectionQueHacemos article h3, p{
		width: 90%;
		margin-left: 5%;
	}
}
