/***********************************************************************************/
/*CSS DE SECTION EN NOSOTROS********************************************************/
/***********************************************************************************

/***********************************************************************************/
/*ANCHO 10px EN ADELANTE************************************************************/
/***********************************************************************************/
@media all and (min-width: 10px){
	.sectionTerminosCondiciones article{
		width: 70%;
		margin-left: 5%;
		background-color: pink;
	}

	.sectionTerminosCondiciones article h3, p{
		width: 90%;
		margin-left: 5%;
	}
}
