*{
	padding: 0px;
	margin: 0px;
}
.contenedor{
	background-color: #0101DF;
	width: 50%;
	padding: 1px;
	border: 1px solid #000;
	word-wrap: break-word;
}

.campo{
	padding: 2px;
	margin: 2px;
	background-color: #819FF7;
	width: 75%;
}